<!-- vamos a descargar el navbar desde mdboostrap.com/navigation/navbar -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar ">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Proyecto Final</a>

  </div>
  <img src="{{ url_for('static', filename='images/Python-PNG-HD-Image.png') }}" width=75" height="50"  alt="Proyecto Final de Python">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav ml-auto">
      <!-- Left links -->
            <button type="button" class="btn btn-primary me-3" data-toggle="modal" data-target="#modalForm">
              Agregar nuevo Usuario
            </button>
        </div>
      </div>
  </div>
</nav>
<!-- vamos a crear el formulario para Ingresar nuevo usuario -->
<!-- vamos a la pestaña modals/modals forms y elegimos la que mas nos guste --->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center bg green light  ">
        <h4 class="modal-title w-100 font-weight-bold ">Usuario Nuevo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/insert/usuario" method="POST">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-address-card prefix grey-text"></i>
            <input type="text" name="nombre" id="defaultForm-name" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-name">Nombre</label>
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-address-card prefix grey-text"></i>
            <input type="text" name="apellidos" id="defaultForm-apellido" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-apellido">Apellidos</label>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="text" name="password" id="defaultForm-clave" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-clave">Contraseña</label>
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-solid fa-address-book prefix grey-text"></i>
            <input type="text" name="telefono" id="defaultForm-telef" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-telef">telefono</label>
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-solid fa-user prefix grey-text"></i>
            <input type="number" name="edad" id="defaultForm-edad" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-edad">edad</label>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-default">
              Agregar <i class="fas fa-plus"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



